/* Reset */
* {
    margin: 0;
    transition: 0.3s;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

.fondo {
    background: #222222;
}

/* HEADER */
header {
    display: flex;
    flex-direction: column;
}

h1 {
    color: rgb(162, 31, 31);
}

h1:hover {
    color: #0090c5;
}

.above {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px 0;
}

.above div {
    display: flex;
    gap: 10px;
}

.above img {
    width: 25px;
    filter: invert(1);
}

.above div a {
    background-color: #111111;
    padding: 10px;
    border-radius: 45%;
}

/* NAVBAR */
nav {
    background-color: #111111;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 5%;
}

nav ul li,
nav a {
    padding: 20px 20px;
}

nav li:hover,
.above div a:hover {
    background-color: #0091c576;
    color: #111111;
}

/* BOTON BUSQUEDA */
.input-style {
    padding: 10px;
    border: 2px solid rgb(162, 31, 31);
    border-radius: 5px;
    font-size: 16px;
    color: #ffffff;
    outline: none;
    background: #111111;
}

.input-style:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 3.2px rgba(0, 123, 255, 0.25);
}

/* Contenido de pagina */

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px 0;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #939393;
}

.text ul li {
    list-style: square;
}

.text h2 {
    color: white;
    font-size: 50px;
    text-align: center;
}

.text a {
    background-color: #0090c5;
    padding: 15px 50px;
    border-radius: 9%;
    margin-top: 30px;
}

.text a:hover {
    background-color: rgb(162, 31, 31);
}

.marcas img {
    margin: 50px 0;
    width: 100px;
    filter: invert(1);
}

.container h3 {
    color: #0090c5;
    font-size: 35px;
}

.menu-toggle {
    display: none;
}

.menu-toggle img {
    width: 50px;
}

@media screen and (max-width: 768px) {
    .background{
        background-color: #111111;
        width: 100%;
        padding: 5px 0;
    }
    .menu-toggle {
        display: block;
        margin: auto;
        height: 50px;
        cursor: pointer;
        filter: invert(1);
    }

    nav {
        display: none;
    }

    nav.active {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    nav.active ul{
        margin-top: 55px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .menu-toggle.active {
        position: relative;
        left: 95%;
        bottom: 0;
        top: -55px;
        margin: 0;
        padding: 0;
        transform: translate(-50%, -50%);
    }
    nav.active ul li {
        width: 100%;
        text-align: center;
    }
    nav.active ul li a {
        padding: 0 40%;
        width: 100%;
    }
}